
body {
  font-family: "Open Sans", sans-serif;
}

/* Wrapper element that I will bind the WorkoutHelper
 * react component to.
 */
workout {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #eef;
}

/* Set with className attribute on WorkoutHelper component (workout-helper.js)
 */
.workout h1 {
  color: #226;
  font-size: 1.1em;
}

.workout ul {
  list-style-type: none;
}

.workout li {
  padding: 1em;
  border: 1px solid #dde;
  margin-bottom: -1px;
  color: #717183;
  font-weight: 600;
}

.workout li:hover {
  background-color: #dedeff;
}

.clock {
  display: inline-block;
  font-weight: 400;
  margin-left: 0.5em;
}
