
body {
  font-family: "Open Sans", sans-serif;
}

/* Wrapper element that I will bind the WorkoutHelper
 * react component to.
 */
workout {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #eef;
}

/* Set with className attribute on WorkoutHelper component (workout-helper.js)
 */
.workout h1 {
  display: inline-block;
  color: #226;
  font-size: 1.2em;
  padding-right: 1.5em;
}

.workout ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.workout li, .new-interval > input[type=text] {
  padding: 0.5em;
  border: 1px solid #dde;
  margin-bottom: -1px;
  color: #717183;
  font-weight: 600;
}

.new-interval > input[type=text] {
  padding: 1em;
}

.new-interval input[type=text] {
  background-color: #f6f6fd;
}

.workout li:hover {
  background-color: #dedeff;
}

.new-interval {
  width: 100%;
}

.workout button {
  position: relative;
  vertical-align: top;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-color: #eef;
  color: #717183;
  font-weight: 600;
  cursor: pointer;
}

.interval > button {
  border: none;
  float: right;
}

.new-interval > button {
  padding: 1em;
  border: 1px solid #dde;

  -webkit-box-shadow: inset 0 -1px #dde;
  box-shadow: inset 0 -1px #dde;
}

.workout button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button.full-width {
  width: 100%;
}

.go-button {
  font-size: 1.2em;
  border: none !important;
  box-shadow: none !important;
}

.clock {
  display: inline-block;
  font-weight: 400;
  margin-left: 0.5em;
}

.interval.prepare, .interval.active {
  font-size: 1.5em;
}

.interval.prepare {
  background-color: #daefff;
}

.interval.finished {
  background-color: #d7d7ef;
}

.interval.active {
  background-color: #AFE3FF;
}

.interval {
  overflow: hidden;
  text-align: center;
}

.interval > * {
  float: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.encouragement {
  float: none;
  display: inline-block;
  margin-top: 0.5em;
}

.encouragement.hide {
  opacity: 0;
}

/**
 * Animation for encouragement messages, to make them more encouraging.
 */
.encouragement.animate {
  animation-duration: 1s;
  animation-name: blamin;
}

@keyframes blamin {
  from {
    opacity: 0;
    font-size: 0.25em;
  }

  to {
    opacity: 1;
    font-size: 1em;
  }
}
